<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title> Currency Converter</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-image: url(https://cdn.pixabay.com/photo/2016/10/09/19/19/coins-1726618_960_720.jpg) ;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .btn-convert:hover{
            background-color: #5cb85c ;
        }
       
    </style>
</head>
<body>
    
    <body class = " bodyy ">
    
            <div class="container">
        
                <div class="row">
        
                    <div class="col-md-7 mx-auto ">
        
                        <div class="card card-body text-center mt-5 bg-warning ">
        
                            <h1 class="heading display-5 pb-3"><i class="fas fa-chart-line fa-lg"></i> &nbsp Currency Converter</h1>
        
                        <form id="currency-form" method="post">
                            <div class="form-group">
                                <div class="input-group" >
                                    <span class="input-group-text bg-dark text-muted">From</span>
                                    <select class="selectpicker bg-dark form-control text-white"  name = "firstCurrency">
                                     <option value="" disabled selected>Choose Currency...  </option>
                                     <option>USD</option>
                                     <option>EUR</option>
                                     <option>JPY</option>
                                     <option>BGN</option>
                                     <option>CZK</option>
                                     <option>DKK</option>
                                     <option>GBP</option>          
                                     <option>HUF</option>
                                     <option>PLN</option>
                                     <option>RON</option>
                                     <option>SEK</option>
                                     <option>CHF</option>
                                     <option>ISK</option>
                                     <option>NOK</option>          
                                     <option>HRK</option>
                                     <option>RUB</option>
                                     <option>TRY</option>
                                     <option>AUD</option>
                                     <option>BRL</option>          
                                     <option>CAD</option>
                                     <option>CNY</option>
                                     <option>HKD</option>
                                     <option>IDR</option>          
                                     <option>ILS</option>
                                     <option>INR</option>
                                     <option>KRW</option>
                                     <option>MXN</option>          
                                     <option>MYR</option>
                                     <option>NZD</option>
                                     <option>PHP</option>
                                     <option>SGD</option>
                                     <option>THB</option>          
                                     <option>ZAR</option>
                                    </select>
                                    
                                    
                                </div>
                            </div>
                            <div class="foricon" style="padding-bottom:10px"><i class="fas fa-angle-double-down fa-4x"></i></div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text bg-dark " style="padding-right:32px ">To</span>
                                    <select class="selectpicker form-control bg-dark text-white" name = "secondCurrency">
                                            <option value="" disabled selected>Choose Currency...</option>
                                            <option>USD</option>
                                            <option>EUR</option>
                                            <option>JPY</option>
                                            <option>BGN</option>
                                            <option>CZK</option>
                                            <option>DKK</option>
                                            <option>GBP</option>          
                                            <option>HUF</option>
                                            <option>PLN</option>
                                            <option>RON</option>
                                            <option>SEK</option>
                                            <option>CHF</option>
                                            <option>ISK</option>
                                            <option>NOK</option>          
                                            <option>HRK</option>
                                            <option>RUB</option>
                                            <option>TRY</option>
                                            <option>AUD</option>
                                            <option>BRL</option>          
                                            <option>CAD</option>
                                            <option>CNY</option>
                                            <option>HKD</option>
                                            <option>IDR</option>          
                                            <option>ILS</option>
                                            <option>INR</option>
                                            <option>KRW</option>
                                            <option>MXN</option>          
                                            <option>MYR</option>
                                            <option>NZD</option>
                                            <option>PHP</option>
                                            <option>SGD</option>
                                            <option>THB</option>          
                                            <option>ZAR</option>
                                           </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 30px;">
                                <input type="number" class="form-control bg-dark text-white " name = "amount" placeholder="Amount" min="0" required>
                            </div>
                            <div class="form-group  " style="margin-bottom: 10px;">
                                <input id ="submitbtn" type="submit" value = "Convert" class = "btn btn-dark text-white btn-convert" >
                            </div>
                        </form>
                        
                        {% if info %}
                        <div id="results" class = "pt-4" >
                            <h5>Result</h5>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text bg-success text-white lg">{{info.amount}} {{info.firstCurrency}} </span>
                                    <div class="form-control bg-success text-white" id="total">
                                      {{info.result}} {{info.secondCurrency}}
                                    </div>
                                  </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                        
                        </div>
                    </div>
                </div>
            </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
</body>
</html>